/* :root {
    --color-bg: #696868;
    --color-bg-secondary: #ffffff;
    --color-text: #000000;
} 
*/

html {
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

body {
    --color-bg: #bbb7b7;
    --color-bg-secondary: #ffffff;
    --color-text: #000000;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

body.dark-mode {
    --color-bg: #202D36;
    --color-bg-secondary: #2B3743;
    --color-text:#ffffff
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.img-fluid {
    width:100%; /* para que no derborde se adapte */
}

/* Espaciados */
.my-2 {
    margin-top: 2rem; /* 2x 16 q es la fuente por defecto */
    margin-bottom: 2rem;
}

/* Navbar */
.navbar { 
    background-color: var(--color-bg-secondary);
     /* offset-x | offset-y | blur-radius | spread-radius | color */
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dark-mode {
    background-color: var(--color-bg-secondary);
    opacity: 1;
    transition: 0.3s;
    color: var(--color-text);
    border: none;
    cursor: pointer; /* border none lo borra */
    outline: none; /* quitamos el borde al hacer click */
}

.btn-dark-mode:hover {
    opacity: 0.6;
}

.form-search {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1rem;
    background-color: var(--color-bg-secondary);
    border-radius: 0.375rem;
}

.form-search i{
    color: var(--color-text);
    opacity: 0.5;
}

.form-search input {
    border: none;
    outline: none;
    background-color: var(--color-bg-secondary);
    margin-left: 1rem;
    color: var(--color-text);
}

/* filtro options */

.filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4rem;
}

.card {
    background-color: var(--color-bg-secondary);
    border-radius: 0.375rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    object-fit: cover;
    width: 100%;
    
}

.card-content {
    padding: 2rem;
}

.card-content-one {
    color: red;
    padding: 2rem;
}

.card-content h3 {
    margin-bottom: 2rem;
}

/* Modal mode*/
/*https://sabe.io/tutorials/how-to-create-modal-popup-box*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 750px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width:600px){
    .navbar-content {
        font-size: 0.7rem;
    }

    .filter-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-search {
        margin-bottom: 1rem;
        width: 100%;
    }

    .form-search input {
        width: 80%;
    }

    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    
}